<h2>Sign up</h2><br>

<%= simple_form_for(resource, as: resource_name, defaults: { required: false }, url: registration_path(resource_name)) do |f| %>

  <%= f.input :email, label: "E-mail", autofocus: true %>
  <%= f.input :first_name, label: "First name" %> 
  <%= f.input :last_name, label: "Last name" %>
  <%= f.input :username, label: "Username" %>
  <%= f.input :password, label: "Password", hint: "6 characters minimum" %>
  <%= f.input :password_confirmation, label: "Password confirmation" %>
  <br>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
