<h2><%= @user.username %></h2>
<h5><%= "#{@user.first_name} #{@user.last_name}" %></h5>
<%= @user.created_at.strftime(" Joined on: %-d %B %Y ")%> 
<br><br>

<div>
  <% if @user != current_user %>

  <h4>Your overall status with the user:<br><%= "#{@overall_status[:message]} #{@overall_status[:value]}" %></h4>
  <br>
  
  <%= render 'friendships/buttons', user: @user %>
  <br>

  <% if current_user.friends_with?(@user) %>
    <%= link_to "Create new Balance", new_balance_path(:partner_id => @user.id), class: 'btn btn-primary' %>    
  <% end %>

  <hr><br>
    <h3> Your balances with <%="#{@user.username}:" %> </h3>
      <% if @balances_output.empty? %>
        Nothing to show
      <% else %>
        <br>
        <% @balances_output.each do |output| %>
          <div>
            <h5> Balance: <%= link_to "#{output[:balance].name}", balance_path(output[:balance]) %>  </h5>
            <b>Status:</b> <%= "#{output[:status][:message]} #{output[:status][:value]}" %> <br>
            <%= output[:balance].created_at.strftime(" Created on: %-d %B %Y at %k:%M") %> by
            <%= viewer_or_partner(current_user, output[:creator]) %>  <br>
          </div>
          <br>
        <% end %>
      <% end %>
    <hr>
    
    <h3> Your transactions with <%="#{@user.username}:" %> </h3>
    <% if @transactions_output.first.nil? %>
      Nothing to show
    <% else %>
      <br>
      <% @transactions_output.reverse_each do |transactions_output, index| %>
        <div>
          <h5> <%= link_to "Transaction #{index} ", transaction_path(transactions_output[:transaction]) %>  </h5>  
          alance: <%= link_to "#{transactions_output[:balance].name}", balance_path(transactions_output[:balance]) %><br>
          <%= render 'transactions/transaction_details', output: transactions_output %>
        </div> 
        <br>
      <% end %>
    <% end %>   
    <hr>
  <% else %>
    hat's you, mate, innit?
  <% end %>
</div>  