<h2>New balance</h2>

<%= simple_form_for @balance do |f| %>
  <% if @balance.errors.any? %>
    <% @balance.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Even App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <%= f.input :name, label: "Name", placeholder: "Name the balance" %>
  <%= f.input :added_user_id, label: "Partner's ID", placeholder: "Put the other person's ID"  %>
  <%= f.input :value, label: "Value", placeholder: "Put the person's debt or your debt with '-' sign in front" %>

  <hr />

  <% #need to do it with partial:, so we can pass locals-f because were iterating %>
  <%#= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
  </div>

<% end %>
