<h2>Balance <i><%= @balance.name %></i></h2>
<div>
  <p> <b>With user:</b> <%= link_to "#{@balance_partner.username}", user_path(@balance_partner.id) %> </p>
  <h4> <b><%= "#{@balance_status[:message]}" %></b> <%= "#{@balance_status[:value]}" %> </h4>
</div>
<hr class="my-4">
<div>
  <h3>Balance History:</h3><br>
  <% @transactions.to_enum.with_index(1).reverse_each do |transaction, index| %>
  <%#pry%>
    <%= link_to transaction_path(transaction) do %>
      <div>
        <h5> <%= link_to "Transaction #{index} ", transaction_path(transaction) %>  </h5>
        <%= transaction.transaction_message(current_user) %><br>
        <%= "Description:" %> 
        <i><%= "#{transaction.description}" %> </i><br>
        <%= transaction.created_at.strftime(" Created on: %-d %B %Y at %k:%M") %> by <%= link_to "#{partner_or_current_user(transaction.issuer)}", user_path(transaction.issuer.id) %> 
        <hr>
      </div>  
    <% end %>
  <% end %>
</div>
