<h2>Balance <i><%= @balance.name %></i></h2>
<div>
  <p> <b>With user:</b> <%= link_to "#{@balance_partner.username}", user_path(@balance_partner.id) %> </p>
  <a> <b>Description:</b> <%= @balance.description %> </a><br>
  <a> <b>Last edited on:</b> <%= @balance.updated_at.strftime("%-d %B %Y at %k:%M") %> by <%= viewer_or_partner(current_user, User.find(@balance.updated_by_id)) %>  </a><br>
  <h4> <b><%= "#{@balance_status[:message]}" %></b> <%= "#{@balance_status[:value]}" %> </h4>
  <%= render 'buttons', balance: @balance %>
</div>

<hr class="my-4">

<div>
  <h3>Balance History:</h3><br>
  <% @transactions_output.to_enum.with_index(1).reverse_each do |output, index| %>
    <%= link_to transaction_path(output[:transaction]) do %>
      <div>
        <h5> <%= link_to "Transaction #{index} ", transaction_path(output[:transaction]) %>  </h5>
        <%= render 'transactions/transaction_details', output: output %>
        <hr>
      </div>  
    <% end %>
  <% end %>
</div>
