<h2>Balance <i><%= @balance.name %></i></h2>
<div>
  <p> <b>With user:</b> <%= link_to "#{@balance_partner.username}", user_path(@balance_partner.id) %> </p>
  <h4> <b><%= "#{@balance_status[:message]}" %></b> <%= "#{@balance_status[:value]}" %> </h4>
  <%= link_to "Add transaction", new_transaction_path(:balance_id => @balance.id), class: 'btn btn-primary' %>
</div>

<hr class="my-4">

<div>
  <h3>Balance History:</h3><br>
  <% @transactions_output.to_enum.with_index(1).reverse_each do |output, index| %>
    <%= link_to transaction_path(output[:transaction]) do %>
      <div>
        <h5> <%= link_to "Transaction #{index} ", transaction_path(output[:transaction]) %>  </h5>
        <%= render 'transactions/transaction_details', output: output %>
        <hr>
      </div>  
    <% end %>
  <% end %>
</div>
