<h2>Friends</h2>
<hr>

<% if @received_invitations.empty? && @sent_invitations.empty? && @friends.empty? %>
  <h4>Add some friends, mate!<h4>
<% end %>

<% if @received_invitations.present? %>
  <h3>Received invitations:</h3>
  <div class="container">
    <% @inviting_users.each do |user|%>
      <div class="row">
        <div class="col-sm">
          <h5><%= link_to "#{user.username}", user_path(user.id) %></h5> 
          (<%= "#{user.first_name} #{user.last_name}" %>)
        </div>
        <div class="col-sm">
            <div class="float-right">
              <%= render 'buttons', user: user %>
            </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>

<% if @sent_invitations.present? %>
  <h3>Sent invitations:</h3>
  <div class="container">
    <% @invited_users.each do |user|%>
      <div class="row">
        <div class="col-sm">
          <h5><%= link_to "#{user.username}", user_path(user.id) %></h5> 
          (<%= "#{user.first_name} #{user.last_name}" %>)
        </div>
        <div class="col-sm">
            <div class="float-right">
              <%= render 'buttons', user: user %>
            </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>


<% if @friends.present? %>
  <h3>Friends list:</h3>
  <div class="container">
    <% @friends.each do |user|%>
      <div class="row">
        <div class="col-sm">
          <h5><%= link_to "#{user.username}", user_path(user.id) %></h5> 
          (<%= "#{user.first_name} #{user.last_name}" %>)
        </div>
        <div class="col-sm">
            <div class="float-right">
              <%= render 'buttons', user: user %>
            </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
