<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.input :email, label: "E-mail", autofocus: true %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>

      <%= f.input :remember_me, as: :boolean, label: 'Remember me' %>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

<hr />
<%= render "devise/shared/links" %>
