
<div>
  <% @output.each do |output| %>
    <%= link_to transaction_path(output[:transaction]) do %>
      <div>
        <%= "#{output[:balance_name]} with user #{output[:balance_partner].username}" %><br>
        <%= output[:message] %><br>
        <%= "Description:" %> 
        <i><%= "#{output[:description]}" %> </i><br>
        <%= output[:creation_date] %> 
        <%= "by #{partner_or_current_user(output[:issuer])}" %> 
        <hr>
      </div>
    <% end %>  
  <% end %>
</div>