
<div>
  <% @output.to_enum.with_index(1).reverse_each do |output, index| %>
      <div>
        <h5> <%= link_to "Transaction #{index} ", transaction_path(output[:transaction]) %>  </h5>  
        <a>Balance: <%= link_to "#{output[:balance].name}", balance_path(output[:balance]) %> <%= "with user #{output[:balance_partner].username}" %></a><br>
        <%= output[:message] %><br>
        <%= "Description:" %> 
        <i><%= "#{output[:description]}" %> </i><br>
        <%= output[:creation_date] %> 
        <%= "by #{partner_or_current_user(output[:issuer])}" %> 
        <hr>
      </div> 
  <% end %>
</div>