<h2>New transaction</h2>
<%= simple_form_for @transaction, defaults: { required: false } do |f| %>
  <% if @transaction.errors.any? %>
    <% @transaction.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Even App Notification", sticky: false, time: 500) %>
    <% end %>
  <% end %>

    <br />
    <%= f.input :description, label: "Description:", placeholder: "Describe the transaction" %>
    <%= f.input :receiver_id, label: "Receiver:", placeholder: "Provide the transaction's receiver ID"  %>
    <%= f.input :balance_name, label: "Balance:", placeholder: "Provide balance name or leave empty to add transaction to the Main balance with user"  %>
    <%= f.input :send_money, label: "Transaction type:",  as: :radio_buttons, collection: [['I lend the money', 'true'], ['I borrow the money', 'false']] %>
    <%= f.input :value, label: "Value:", placeholder: "Provide the value" %>
    <hr />  
    <br>
    <div class="actions">
      <%= f.submit 'Send', class: 'btn btn-primary btn-block' %>
    </div>

<% end %>
