<h2>Transaction</h2>
  <div>
    <a> Balance: <%= link_to "#{@transaction.balance.name}", balance_path(@transaction.balance.id)  %> with user <%= link_to "#{@transaction.partner_for(current_user).username}", user_path(@transaction.partner_for(current_user).id) %></a><br>
    <%= @transaction.transaction_message(current_user) %><br>
    <%= "Description:" %> 
    <i><%= "#{@transaction.description}" %> </i><br>
    <%= @transaction.created_at.strftime(" Created on: %-d %B %Y at %k:%M") %> 
    <a> by <%= link_to "#{partner_or_current_user(@transaction.issuer)}",user_path(@transaction.issuer.id) %> 
    <hr>
  </div>  