<!DOCTYPE html>
<html>
<head>
  <title>Even</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id='bootstrap-overrides'>
  <div class='container'>
  	<div class='row'>
  		<div class='col-md-12'>
        <%= render 'shared/nav' %>
        <div class="jumbotron">
          <%= yield %>
          <%= render 'shared/alerts' %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
